{% set hide_navbar = True %}
{% extends 'base.html' %}
{% block content %}
<div class="auth-center">
  <div class="auth-box">
    <img src="{{ url_for('static', filename='img/Logo2.png') }}" alt="Logo" class="auth-logo">
    <div class="auth-title">Définir un nouveau mot de passe</div>
    <div class="auth-desc">
      Entrez votre nouveau mot de passe pour sécuriser votre compte.
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} mt-1 mb-2">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('new_password') }}">
      <input type="hidden" name="email" value="{{ email }}">
      <label for="password">Nouveau mot de passe</label>
      <input type="password" class="form-control" id="password" name="password" required>
      <button type="submit" class="auth-btn">Changer le mot de passe</button>
    </form>
    <div class="auth-footer">
      <a href="{{ url_for('login') }}">Retour à la connexion</a>
    </div>
    <div class="auth-footer" style="font-size:0.89rem;color:#798099;margin-top:30px;">
      Un produit de <a href="#">Sup'ISI</a><br>
      Institut Supérieur de Génie Informatique<br>
      Version 3.0 - 2019-2024
    </div>
  </div>
</div>
{% endblock %}
